/* HOME */
.slider {
  clear: both;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  left: 300px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.text-overlay {
  color: rgba(255, 255, 255, 1);
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

@media (max-width: 768px) {
  .text-overlay {
    width: 400px;
  }
}

.credit {
  background-color: #3e3e3f5e;
  border-radius: 5px;
  margin-top: 70px;
  position: relative;
  text-align: center;
  float: right;
}

.logo-container {
  position: absolute;
  top: 450px;
  left: 22%;
  z-index: 10;
}

.logo {
  width: auto;
  height: 100px;
}

/* CHATBOT */

.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #32cd32;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.react-chatbot-kit-user-chat-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}

.cork-bot-avatar {
  color: white;
  width: 130px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: rgba(177, 147, 100, 1);
  margin-right: 15px;
}
.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  fill: #494646;
  width: 22.5px;
  height: 22.5px;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #187bb1;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #187bb1;
  position: absolute;
  left: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.react-chatbot-kit-chat-container {
  border-radius: 15px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
  left: 20%;
  position: relative;
  width: 375px;
  margin-bottom: 20px;
}

.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #187bb1;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}

.react-chatbot-kit-error {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.react-chatbot-kit-error-docs {
  display: block;
  margin: 25px auto;
  color: rgb(56, 104, 139);
  padding: 8px;
  border: 1px solid rgb(40, 152, 236);
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

/* PRODUCTS */

.bodyboards-container {
  display: flex;
  float: right;
}

.bodyboards-column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bodyboards-img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
  margin: 23px;
}

.description-column {
  display: block;
  align-items: center;
}

.description-list {
  list-style-type: none;
  margin-top: 120px;
  padding: 0;
  color: #3e3e3f;
  font-weight: 900;
}

.description-list li {
  margin-right: 50%;
  margin-bottom: 300px;
}

/* SIZE CALCULATOR */

.calculator {
  z-index: 1;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  height: 600px;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 12px;
  text-align: center;
  color: #808080;
}

label {
  font-size: 22px;
  color: #ccffcc;
}

input[type="number"],
select {
  font-size: 16px;
  padding: 5px;
  border-radius: 9999px;
  border: none;
  outline: none;
  box-shadow: inset 2px 5px 10px black;
  margin-bottom: 2px;
  max-width: 200px;
}

select {
  width: 220px;
}

.findYourSize {
  margin-bottom: 50px;
  margin-top: 25px;
  --glow-color: #99ff66;
  --glow-spread-color: #66ff66;
  --enhanced-glow-color: #ccffcc;
  --btn-color: #32cd32;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.findYourSize::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.findYourSize:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.findYourSize:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

result {
  font-size: 24px;
  margin-top: 20px;
}

/* QUOTE */

.order-form {
  border-radius: 8px;
  text-align: center;
  padding-top: 20px;
  background-color: RGBA(217, 217, 217, 1);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.order-form h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5%;
  left: 50%;
}

.order-form label {
  color: #000;
}

.order-form label {
  display: block;
  margin-bottom: 10px;
}

.order-form select,
.order-form input[type="checkbox"],
.order-form input[type="text"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-form button[type="submit"] {
  background-color: black;
  color: #fff;
  width: 270px;
  height: 40;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.order-form p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* CONTACT */
.formCard {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.formTitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  clear: both;
  position: relative;
}

.form .group label {
  clear: both;
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 25px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.form .group input,
.form .group textarea {
  clear: both;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 88%;
  background-color: transparent;
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  clear: both;
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  clear: both;
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  clear: both;
  resize: none;
  height: 100px;
}

.form button {
  width: 90%;
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #27408b;
}

/* Blog */

.PostList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostList__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Post {
  background-color: #99ff664d;
  max-width: 300px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Post img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* FOOTER */

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 20px;
}

footer p {
  color: #2b03036b;
}

/* ARROW */

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 100px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}
